* { margin:0; padding:0 }
body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#root {
    margin: 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    overflow: auto;
}
header {
    padding: 16px;
    background-color: #f60;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 { font-size: 1.2em; }
h1::before {
    content: 'H';
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    width: 1.5em;
    margin-right: .5em;
}
h1 span {
    display: block;
    margin-top: .5em;
}
h1 a,
h1 a:visited { color:#000; }
input {
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 2em;
    max-width: 100%;
    outline: none;
    border: none;
    background-color: #eff;
}

ul {
    list-style-type: none;
    padding: 16px;
    background-color: #f6f6ef;
}
ul li {
    display: flex;
    text-align: left;
    padding: 8px;
    color: #828282;
    font-size: .8em;
}
ul li strong { color:#000; }
ul li span { margin-left: 8px; }
ul li span::after {
    content: '|';
    margin-left: 8px;
}
ul li div span:last-child::after { content: ''; }
ul li a { color: #828282; }

.post-link { margin: 2px 0; }
.post-link a { color:hsla(0, 0%, 41%, 1); }

ul li a:visited,
.post-link a:visited,
.loading { color:hsla(0, 0%, 61%, 1); }

@media (min-width: 600px) {
    h1 span {
        display: inline;
    }
    h1 span::before {
        content: '|';
        display: inline-block;
        margin-right: .5em;
        margin-left: .3em;
    }
}
@media (min-width: 900px) {
    header {
        flex-direction: row;
    }
    input {
        margin-top: 0;
        margin-left: 2em;
        width: 100%;
        max-width: 400px;
    }
}
@media (min-width: 1100px) {
    #root {
        margin: 40px auto;
        max-width: 1000px;
    }
}
