<!doctype html>
<html lang="en" data-show-errors>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Image Gallery Demo | Vue</title>
        <link href="https://www.dataformsjs.com/js/prism-1.22.0/prism.css" rel="stylesheet">
        <link rel="stylesheet" href="css/image-gallery.css" data-css-vars-ponyfill>
    </head>
    <body>
        <section class="page-title">
            <h1 tabindex="1">DataFormJS [imageGallery] Framework Plugin with Vue</h1>
            <img src="https://www.dataformsjs.com/img/examples/image-gallery.svg" alt="Image Gallery" />
        </section>

        <div class="about">
            <section>
                <h2 tabindex="2">Features</h2>
                <ul class="emoji-list">
                    <li data-emoji="🖼️">Shows Overlay with large Image for Thumbnails.</li>
                    <li data-emoji="🎨">Minimal UI so the focus is on the Content.</li>
                    <li data-emoji="💡">Easy to use from any device and fully accessible.</li>
                    <li data-emoji="📱">Handles Swipe left/right and Tap to close on Mobile Devices.</li>
                    <li data-emoji="💻">Fully works on Desktop or Laptop Computer from Mouse. Click to open gallery and Back and Forward buttons are displayed when using a Mouse.</li>
                    <li data-emoji="⌨️">Fully works from a Keyboard. If using [tabindex] so thumbnails can be selected a spacebar can be used to open the gallery and Left/Right/Escape Keys can be used for navigation.</li>
                    <li data-emoji="🏷️">Displays [title] or [alt] of the image with index position by default. [title] and [alt] are not required and index can be hidden through CSS if desired.</li>
                    <li data-emoji="🕒">Displays a loading indicator if an image takes longer than 2 seconds to load. The text and timeout can be changed through the API.</li>
                    <li data-emoji="🚀">Supports next-gen image formats AVIF and WebP by using optional attributes [image-avif] and [image-webp]. When using next-gen image formats a default/fallback [image] must be included similar to how the HTML &lt;picture&gt; element works.</li>
                    <li data-emoji="✨">Image loading is optimized so that large images are loaded only when viewed and the previous and next images preloaded while the user is viewing the focused image.</li>
                    <li data-emoji="🎨">Overlay style and layout can easily changed with CSS.</li>
                    <li data-emoji="😊">Small Download - 3.2 kB when gzipped and minified.</li>
                    <li data-emoji="⚙️">The code exists in a single file so it's easy to copy and modify if changes or portions of it are needed as part of a custom app.</li>
                    <li data-emoji="🌐">Works with all Browsers.</li>
                </ul>
            </section>

            <section>
                <h2 tabindex="3" class="github">
                    <img src="./img/GitHub-Mark-32px.png" alt="GitHub">
                    <span>Full Source Code</span>
                </h2>
                <ul class="source-code">
                    <li>
                        <a href="https://github.com/dataformsjs/dataformsjs/blob/master/js/plugins/imageGallery.js" target="_blank" ref="noopener">
                            <img src="./img/Unofficial_JavaScript_logo_2.svg" width="64" alt="JavaScript">
                            <strong>JavaScript Code</strong>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/dataformsjs/dataformsjs/blob/master/examples/image-gallery-vue.htm" target="_blank" ref="noopener">
                            <img src="./img/HTML5_Logo.svg" width="64" alt="HTML">
                            <strong>HTML for this Page</strong>
                        </a>
                    </li>
                </ul>
            </section>

            <section>
                <h2 tabindex="4">Example Usage and Code</h2>
                <pre class="language-html">
                    <code>&#x3C;!--
    Include plugin [js/plugins/imageGallery.min.js]

    Add attribute [data-image-gallery] and optional [title] or [alt]
    to an &#x3C;img&#x3E; or other element for each image.
--&#x3E;
&#x3C;img
    v-for=&#x22;image in images&#x22;
    v-bind:src=&#x22;image.thumbnail&#x22;
    v-bind:data-image-gallery=&#x22;image.image&#x22;
    v-bind:alt=&#x22;image.title&#x22;&#x3E;

&#x3C;div
    class=&#x22;card-image&#x22;
    v-for=&#x22;image in images&#x22;
    v-bind:style=&#x22;&#x27;background-image: url(&#x27; + image.thumbnail + &#x27;)&#x27;&#x22;
    v-bind:data-image-gallery=&#x22;image.image&#x22;
    v-bind:title=&#x22;image.title&#x22;&#x3E;&#x3C;/div&#x3E;

&#x3C;!--
To override default styles use `!important` and specify the style
attributes to override in any style sheet on the page or define your
own style sheet before the plugin runs using id `image-gallery-css`.
--&#x3E;
&lt;style&gt;
.image-gallery-overlay { background-color: black !important; }
.image-gallery-overlay { background-color: rgba(0,0,0,.7) !important; }

.image-gallery-overlay .btn-previous,
.image-gallery-overlay .btn-next { background-color: blue !important; }
&lt;/style&gt;
&lt;style id=&quot;image-gallery-css&quot;&gt;...&lt;/style&gt;
&lt;link rel=&quot;stylesheet&quot; id=&quot;image-gallery-css&quot; href=&quot;css/image-gallery.css&quot;&gt;</code>
                </pre>
            </section>
        </div>

        <json-data
            data-url="https://dataformsjs.s3-us-west-1.amazonaws.com/img/example-images/index.json"
            data-template-id="images"
            data-images
            v-clock>
        </json-data>

        <script type="text/x-template" data-engine="vue" id="images">
            <div class="image-gallery">
                <img v-for="(image, index) in images"
                    v-bind:src="image.thumbnail"
                    v-bind:title="image.title"
                    v-bind:tabindex="index + 5"
                    v-bind:data-image-gallery="image.image"
                    v-bind:data-image-avif="image.image_avif"
                    v-bind:data-image-webp="image.image_webp">
            </div>
        </script>

        <!--
            https://vuejs.org
            DataFormsJS works with both Vue 2 and Vue 3
            <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.prod.js"></script>
        -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>

        <!-- DataFormsJS Standard Files -->
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@5.6.1/js/DataFormsJS.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@5.6.1/js/plugins/imageGallery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@5.6.1/js/controls/json-data.min.js"></script>

        <script>
            // The default image gallery  'Loading...' text and timeout (2000)
            // can be changed by setting the following properties:
            //
            // app.plugins.imageGallery.loadingText = 'Carregando...';
            // app.plugins.imageGallery.loadingTimeout = 1000;
        </script>

        <!--
            https://prismjs.com/
        -->
        <script src="https://www.dataformsjs.com/js/prism-1.22.0/prism.modified.min.js"></script>
    </body>
</html>