<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Image Gallery Demo | Handlebars</title>
        <link href="https://www.dataformsjs.com/js/prism-1.17.1/prism.css" rel="stylesheet">
        <link rel="stylesheet" href="css/image-gallery.css">
        <link rel="canonical" href="https://www.dataformsjs.com/examples/image-gallery-web.htm">
    </head>
    <body>
        <h1>DataFormJS [imageGallery] Framework Plugin with Vue</h1>

        <div class="about">
            <h2>Features</h2>
            <ul>
                <li>Shows Overlay with large Image on Thumbnail Click.</li>
                <li>Handles Left/Right/Escape Keys for the Overlay.</li>
                <li>Handles Swipe left/right and Tap to close on Mobile Devices.</li>
                <li>Diplays [title] of the image with Index by default.</li>
                <li>Overlay style and layout can easily changed with CSS.</li>
                <li>The code is designed to be small and easy to modify so that it can be easily copied and extended or changed as part of a custom app.</li>
                <li>Works with all Browsers.</li>
            </ul>

            <h2>Example Usage and Code</h2>
            <pre class="language-html">
                <code>&#x3C;!--
    Include plugin [js/plugins/imageGallery.min.js]

    Add attribute [data-image-gallery] and optional [title]
    to an &#x3C;img&#x3E; or other element for each image.
--&#x3E;
&#x3C;img
    v-for=&#x22;image in images&#x22;
    v-bind:src=&#x22;image.thumbnail&#x22;
    v-bind:data-image-gallery=&#x22;image.image&#x22;
    v-bind:title=&#x22;image.title&#x22;&#x3E;

&#x3C;div
    class=&#x22;card-image&#x22;
    v-for=&#x22;image in images&#x22;
    v-bind:style=&#x22;&#x27;background-image: url(&#x27; + image.thumbnail + &#x27;)&#x27;&#x22;
    v-bind:data-image-gallery=&#x22;image.image&#x22;
    v-bind:title=&#x22;image.title&#x22;&#x3E;&#x3C;/div&#x3E;</code>
            </pre>
        </div>

        <json-data
            data-url="https://dataformsjs.s3-us-west-1.amazonaws.com/img/example-images/index.json"
            data-template-id="images"
            data-images
            v-clock>
        </json-data>

        <script type="text/x-template" data-engine="vue" id="images">
            <div class="image-gallery">
                <img v-for="image in images" v-bind:src="image.thumbnail" v-bind:data-image-gallery="image.image" v-bind:title="image.title">
            </div>
        </script>

        <!--
            Vue
            https://vuejs.org

            DataFormsJS works with both Vue 2 and Vue 3.

            Vue 2
                <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>

            Vue 3 (Currently in Beta)
                <script src="https://unpkg.com/vue@next"></script>
        -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>

        <!-- DataFormsJS Standard Files -->
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/DataFormsJS.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/plugins/imageGallery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/controls/json-data.min.js"></script>

        <!--
            https://prismjs.com/
        -->
        <script src="https://www.dataformsjs.com/js/prism-1.17.1/prism.modified.min.js"></script>
    </body>
</html>