<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Log Table Demo | Vue</title>
        <link rel="stylesheet" href="css/log-table.css">
        <link rel="canonical" href="https://www.dataformsjs.com/examples/log-table-hbs.htm">
    </head>
    <body>
        <div id="view" class="pt10"></div>

        <!--
            The attributes [data-columns] and [data-records] end up
            defining [columns] and [records] as observers for the Vue model
            [app.activeVueModel] prior to the data being downloaded.

            They are not required to allow rendering with this specific page
            however if not used and calling:
                app.activeVueModel.records = []
            Then the Vue will not render the update. As long as the properties
            is set before then Vue will render the update.
        -->
        <script
            type="text/x-template"
            data-engine="vue"
            data-route="/:count"
            data-page="jsonData"
            data-url="https://www.dataformsjs.com/data/example/log-table/:count"
            data-columns
            data-records>

            <h3 v-if="isLoading" class="loading">Loading...</h3>
            <h3 v-if="hasError" class="error">{{ errorMessage }}</h3>
            <div v-if="isLoaded" class="p0">
                <div class="flex pt10">
                    <h2></h2>
                    <button data-filter-clear-all>Clear Filter</button>
                </div>

                <nav>
                    <a href="#/10">10 Records</a>
                    <a href="#/100">100 Records</a>
                    <a href="#/200">200 Records</a>
                    <a href="#/error">Error Example</a>
                </nav>

                <div>
                    <input type="text" class="large form-control medium-margin-right"
                        data-filter-selector="table"
                        data-filter-results-text-selector="h2"
                        data-filter-results-text-all="{totalCount} Log Example Records"
                        data-filter-results-text-filtered="Showing {displayCount} of {totalCount} Log Example Records"
                        data-filter-class-odd="row-odd"
                        data-filter-class-even="row-even"
                        placeholder="Enter Filter">

                    <button type="button" data-export-csv-selector="table" data-export-file-name="Log-Report.csv">Export to CSV</button>
                </div>

                <div class="highlighter" style="display:none;">
                    <ul>
                        <li class="info">Click or Tap to Filter</li>
                        <li class="log-error"
                            data-highlight-selector="table tbody tr td:nth-child(1)"
                            data-highlight-value="ERROR"
                            data-highlight-operator="==="
                            data-highlight-class="log-error"
                            data-filter-selector="table"
                            data-filter-column="Log Level"
                            data-filter-operator="==="
                            data-filter-value="ERROR"></li>
                        <li class="log-warning"
                            data-highlight-selector="table tbody tr td:nth-child(1)"
                            data-highlight-value="WARNING"
                            data-highlight-operator="==="
                            data-highlight-class="log-warning"
                            data-filter-selector="table"
                            data-filter-column="Log Level"
                            data-filter-operator="==="
                            data-filter-value="WARNING"></li>
                    </ul>
                </div>

                <table data-sort data-sort-class-odd="row-odd" data-sort-class-even="row-even">
                    <thead>
                        <tr>
                            <th v-for="column in columns">{{ column }}</th>
                        </tr>
                    </thead>
                    <tbody class="click-to-highlight">
                        <tr v-for="record in records">
                            <td v-for="value in record.values">{{value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </script>

        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/DataFormsJS.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/pages/jsonData.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/plugins/filter.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/plugins/sort.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/plugins/highlighter.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/plugins/clickToHighlight.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/plugins/exportToCsv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.4.1/js/plugins/navLinks.min.js"></script>

        <!--
        Vue 2 - Dev Latest:
			<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        Vue 2 - Prod Latest:
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        Vue 2 - Prod Specific Version:
            <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>

        Vue 3 (Currently in Beta)
            <script src="https://unpkg.com/vue@next"></script>
        -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>

        <script>
            // Redirect to Default Parameters
            app.addController({ path:"/", onBeforeRender: function() {
                window.location.hash = "#/10";
            }});
        </script>

        <script>
            // Add CSS Variable Support to IE and older Browsers
            (function() {
                'use strict';
                var supportsCssVars = (window.CSS && window.CSS.supports && window.CSS.supports('(--a: 0)'));
                var polyfillUrl = 'https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2.1.1/dist/css-vars-ponyfill.min.js';
                app.loadScript(supportsCssVars, polyfillUrl, function() {
                    if (window.cssVars) {
                        cssVars({ include:'link[rel="stylesheet"]' });
                    }
                });
            })();
        </script>
    </body>
</html>
