<section>
    <div class="content">
        <h1 v-i18n="'Binary Classification Training Data'"></h1>

        <ul class="training-info">
            <li v-i18n="'info_4'"></li>
            <li v-i18n="'training_info'"></li>
        </ul>

        <div v-if="hasError" class="error">{{ errorMessage }}</div>
        <table v-if="isLoaded">
            <thead>
                <tr>
                    <th v-for="column in columns" v-i18n="column"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="record in records">
                    <td v-for="value in record">{{ value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>