<!--
    TODO - see comments in main file regarding [v-cloak] - currenting testing changes for Vue 3
    Later all examples need to work with both Vue 2 and 3
-->
<h3 v-if="isLoading" v-i18n="'Loading...'"></h3>
<p v-if="hasError"><span v-i18n="'Error'"></span> - {{ errorMessage }}</p>
<div v-if="isLoaded" class="flex-col">
    <h1><span v-i18n="'Regions for Country Code'"></span> {{ country }}</h1>
    
    <nav>
        <a v-bind:href="'#/' + i18n_Locale + '/'" v-i18n="'Countries'"></a>
    </nav>

    <input data-filter-selector="table"
        data-filter-results-text-selector="h1"
        v-bind:data-filter-results-text-all="'{totalCount} ' + app.plugins.i18n.getText('Regions for Country Code') + ' ' + country"
        v-bind:data-filter-results-text-filtered="app.plugins.i18n.getText('Showing {displayCount} of {totalCount} Regions for Country Code') + ' ' + country"
        placeholder="Enter filter"
        v-i18n-attr="'placeholder'">

    <table data-sort data-sort-class-odd="row-odd" data-sort-class-even="row-even">
        <thead>
            <tr>
                <th v-i18n="'Code'"></th>
                <th v-i18n="'Name'"></th>
                <th v-i18n="'Population'"></th>
                <th v-i18n="'Timezone'"></th>
                <th v-i18n="'Date Last Modified'"></th>                               
            </tr>
        </thead>
        <tbody>
            <tr v-for="region in regions">
                <td><a v-bind:href="'#/' + i18n_Locale + '/cities/' + country + '/' + region.admin1_code">{{ region.admin1_code }}</a></td>
                <td>
                    <i v-bind:class="country.toLowerCase() + ' flag'"></i>
                    <span>{{ region.name }}</span>
                </td>
                <td class="align-right" v-bind:data-value="region.population" v-format-number="region.population"></td>
                <td>{{ region.timezone }}</td>
                <td class="align-right" v-format-date="region.modification_date"></td>
            </tr>
        </tbody>
    </table>
</div>
